<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Price Predictor</title>
</head>
<body>
    <form method="post">
        <label for="Open">Open</label>
        <input type="text" name="Open" id="Open">
        <label for="High">High</label>
        <input type="text" name="High" id="High">
        <label for="Low">Low</label>
        <input type="text" name="Low" id="Low">
        <label for="AdjClose">Adjusted Close</label>
        <input type="text" name="AdjClose" id="AdjClose">
        <label for="Volume">Volume</label>
        <input type="text" name="Volume" id="Volume">
        <input type="submit">
    </form>
</body>